@import url(https://fonts.googleapis.com/css?family=Almendra+SC);

body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #B9c6c6;
}


h1 {
    text-align: center;
    font-family: 'Almendra SC';
    text-decoration: underline;
}

h2 {
    font-family: 'Almendra SC';
    text-align: center;
    text-decoration: underline;
    
}

h3 {
	text-align: center;
}

button {
    background-color: #568787;
    color: #211b1a;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Almendra SC'
}

button:hover {
    background-color: #96a8a1;
}

.FISH {
    background-image: url(../static/fsch2.jpeg);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    margin-top: 20%;
    border: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
	padding: 10px;
    
}

em {
	padding: 5px;
    }
