@import url(https://fonts.googleapis.com/css?family=Almendra+SC);

body{
    min-height: 90vh;
    justify-content: center;
    align-items: center;
    background-image: ".../static/fsch2.jpg";
    height: 50vh;
  	width: 100%;
  	object-fit: cover;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
    font-family: sans-serif;
    background-color: #568797;
}


.top-image {
  height: 50vh;
  width: 100%;
  object-fit: cover;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
 
*{
    margin: 0;
    padding: 0;
}

main{
    background-color: #B9c6c6;
    width: 400px;
    max-width: 400px;
    height: 900px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0 30px 50px;
    box-sizing: border-box;
    padding: 30px;
}

main form{
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
main form input{
    width: 90%;
    border: 3px solid #486461;
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    font-weight: normal;
    background-color: transparent;
    box-shadow: 2px 3px 4px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 20px;
    font-family: 'Almendra SC';
}


main form button{
    width:300px;
    height: 50px;
    border-radius: 15px;
    align-items: center;
    box-shadow: 3px 4px 5px;
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 30px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    background-color: #568787;
    margin-bottom: 20px;
    color: #211b1a;
    font-family: 'Almendra SC';
}

main p{
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    color: #334644;
    text-align: center;
    align-items: center;
    font-family: 'Almendra SC';
 	
}

main .showuser {
    background-image: url(../static/signup.png);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 200px;
    height: 200px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    margin-top: 20%;
}

main .UnknownUser{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 200px;
    height: 200px;
    background-image: url(../static/signup.png);
    background-position: center;
    background-size: cover;
    margin-top: 10px;
    padding-bottom: 10px;
    border-radius: 50%;
}

main h1,h2{
    text-align: center;
    margin-top: 20%;
    font-family: 'Almendra SC';
}


main .sent{
    color: rgb(7, 105, 0);
    gap: 5px;
    font-size: 1.8rem;
}

main .warning{
    color: red;
    gap: 10px;
    font-size: 1.8rem;
}

main .mt{
    margin-top: 40px;
}

@media (max-width: 600px) {
    main {
        width: 95%;
        margin-top: 5%;
        padding: 20px;
    }

    main form input, main form button {
        font-size: 14px;
        padding: 12px;
        align-items: center;
    }

    main p {
        font-size: 16px;
    }

    main img, main .showUser {
        width: 80px;
        height: 80px;
    }

    main h1, main h2 {
        margin-top: 5%;
    }
}

@media (max-width: 400px) {
    main {
        width: 100%;
        padding: 10px;
    }

    main form input, main form button {
        font-size: 12px;
        padding: 10px;
        align-items: center;
    }

    main p {
        font-size: 14px;
    }

    main img, main .showUser {
        width: 70px;
        height: 70px;
    }
}

button {
    background-color: #568787;
    color: #211b1a;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Almendra SC'
}

button:hover {
    background-color: #486461;
}

h2 {
    padding: 10px;
    font-weight: normal;
}

a {
	color: #211b1a;
	font-family: 'Almendra SC';
    align-items: center;
    }