<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='fish.css') }}">
</head>
<body>
    <main>
        <h2>Try Again</h2>
        <h3><em>Is this a Fish?</em></h3>
        <form method="post" action="/fischTwo">
            <img class = "fishThree">
            <input type="text" name="fisch_three" placeholder="Answer?"><br>
            <h3><em>Is this a Fish?</em></h3>
            <img class = "fishFour">
            <input type="text" name="fisch_four" placeholder="Answer?"><br>
            <button type="submit" value="continue">Continue</button>

        </form>
    </main>
</body>
</html>