<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
</head>
<body>
    <main>
    <img class = "UnknownUser">
        <form method="post" action="/login_validation">
            <input type="text" name="middle_name" placeholder="Enter Name"><br>
            <input type="email" name="email" placeholder="Enter Email"><br>
            <input type="password" name="fav_animal" placeholder="Enter Password"><br>
            <button type="submit" value="login">Login</button>
        </form>
        <p><em>Don't have an account?</em> <br><a href="/signUp">Create account</a></p>
        
        <p><em>Can't Remember your Password or Email?</em> <br> <a href="/faux">Click Here</a></p>
    </main>
</body>
</html>