<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Are you really sure?</h1>
    <h2>Did you not read the last page.</h2>
    <h3>I told you what a fish is and you purposefully ignored it.</h3>
    <p>I'm disappointed. You were supposed to be better.<br>
    I will give you one last chance.<br>
    Do not disappoint me.</p>
    

    <div>
        <em>...</em>
        <a href="/fish2"><button>Apologise and Try Again</button></a>
    </div>
</body>
</html>