<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Are you sure about that?</h1>
    <h2>Fish</h2>
    <h3>/fɪʃ/</h3>
    <p>noun<br>
    1.
    a limbless cold-blooded vertebrate animal with gills and fins living wholly in water.
    <em>"the fish com­pete with na­tive spe­cies for food"</em></p>
    

    <div>
        <em> Hello there. It's not everyday we meet someone new.</em>
        <a href="/fish1"><button>Apologise and Try Again</button></a>
    </div>
</body>
</html>