<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Think Carefully</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>
    <h1>Are you sure about that?</h1>
    <h2>Fish</h2>
    <h3>/fɪʃ/</h3>
    <p style="text-decoration: overline;"><em>noun</em></p>
    <p>1.
    a limbless cold-blooded vertebrate animal with gills and fins living wholly in water. <br>
    <em>"the fish com­pete with na­tive spe­cies for food"</em></p>
    
    <img class = "FISH">

    <div>
        <em> Hello there. It's not everyday we meet someone new.</em><br>
    </div>
        <a href="/fish1"><button>Apologise and Try Again</button></a>
    </body>
</html>


