<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <main>
        <h1>Welcome, {{ first_name }}!</h1>
        <img class = "showUser">
        <h2>Shall We Begin?</h2>

        <a href="/quoz">Continue</a>

        <a href="/">
            <button>I'd Rather Not</button>
        </a>
    </main>
</body>
</html>